{% extends 'base.html.twig' %}

{% block title %}StacyMakeupCreations{% endblock %}

{% block body %}
<div class="uk-container uk-container-large">
  <div class="uk-border-rounded-large uk-background-top-center uk-background-cover 
  uk-background-norepeat uk-light uk-inline uk-overflow-hidden uk-width-1-1" 
  style="background-image: url('{{ asset('assets/img/background1.jpg') }}');">
    <div class="uk-position-cover uk-header-overlay"></div>
    <div class="uk-position-relative" data-uk-grid>
      <div class="uk-width-1-2@m uk-flex uk-flex-middle">
        <div class="uk-padding-large uk-padding-remove-right">
          <h1 class="uk-heading-small uk-margin-remove-top">Je vous partage ma passion</h1>
        </div>
      </div>
      <div class="uk-width-expand@m"></div>
    </div>
  </div>
</div>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="logo">
        <img src="{{ asset('assets/img/logo2.png') }}" alt="StacyMakeupCreations Logo" class="img-fluid logo mb-4 logo-left">
      </div>

      <h1 class="display-4 text-center mb-4">Bienvenue</h1>
      <p class="lead text-body-secondary">Que vous recherchiez des conseils pour sublimer votre look quotidien, des idées pour un événement spécial, ou simplement de l'inspiration artistique, vous êtes au bon endroit !</p>
    </div>
  </div>
</section>

<div class="container">
  <h1 class="display-4 text-center mb-4">Découvrez mes créations</h1>
  <div class="row">
    {% if creations is defined and creations|length > 0 %}
      {% for creation in creations %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ asset('uploads/' ~ creation.image) }}" class="card-img-top" alt="{{ creation.name }}">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ creation.name }}</h5>
              <p class="card-text">{{ creation.description | raw }}</p>
              <div class="mt-auto">
                <a href="{{ path('app_creation_details', {'slug': creation.slug}) }}" class="btn btn-sm btn-outline-secondary">Voir plus</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-center">Aucune création disponible pour le moment. Revenez bientôt pour découvrir de nouvelles œuvres !</p>
    {% endif %}
  </div>
</div>
{% endblock %}
